
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@400;500&family=Roboto:wght@300&family=Varela+Round&display=swap');

  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    height: 72px;
  }
  nav img{
    width: 60px;
  }
  nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  nav ul a{
    text-decoration: none;
    color: #000;
  }
  button{
    all: unset;
    padding: 6px 16px;
    background-color: red;
    height: 28px;
    color: white;
    font-weight: 500;
 cursor: pointer;
  }
  
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px; 
    margin: 0px auto;
    padding-top: 100px;
    height: calc(100vh-72px);
  }
  .hero-img img{
   height: 30vw;
  }
  .hero h1{
    font-weight: 900;
    font-size: 88px;
    line-height: 80px;
    color: rgb(71, 44, 44);
  }
  .hero p{
    font-size: 15px;
    font-weight: 500;
    margin: 15px;
  }
  .hero-btn{
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  .hero-btn .sec-btn{
    background-color: transparent;
    color: rgb(71, 44, 44);
    border: 1px solid gray;
  
  }